.card {
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  box-shadow: var(--shadow);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.card-unactive {
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  box-shadow: var(--shadow);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
  position: relative;
}

.card-title {
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-light);
}

.show-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  border: none;
}

.btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
