.card {
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  box-shadow: var(--shadow);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.card-unactive {
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  box-shadow: var(--shadow);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
  position: relative;
}

.card-title {
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-top: 1px solid var(--highlight);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-light);
}

.card-title-btns {
  display: flex;
  gap: 10px;
}

.show-btn {
  position: absolute;
  right: 20px;
  top: 25px;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform-origin: top;
  animation: dropdown 0.3s ease-in-out;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  border: none;
}

.btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

button[type="submit"] {
  background-color: var(--secondary);
  color: var(--bg-light);
}

.delete-btn {
  background-color: var(--primary);
  color: var(--bg-light);
  position: relative;
}

.edit-btn {
  position: relative;
}

.icon-delete,
.icon-edit {
  position: absolute;
  left: -5px;
  padding-left: 5px;
}

.add-btn {
  position: relative;
}
