.card-output {
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
  gap: 5px;
  margin: 20px;
  min-height: 900px;
  display: flex;
}

.output-header {
  background-color: rgb(215, 248, 255);
  flex: 1 1 0;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  padding-left: 40px;
}

.output-header > h1 {
  text-align: center;
}

.right-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1 0;
}
