/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

@media (max-width: 800px) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

:root {
  --bg-dark: oklch(0.92 0 20);
  --bg: oklch(0.96 0 20);
  --bg-light: oklch(1 0 20);
  --text: oklch(0.15 0 20);
  --text-muted: oklch(0.4 0 20);
  --highlight: oklch(1 0 20);
  --border: oklch(0.6 0 20);
  --border-muted: oklch(0.7 0 20);
  --primary: oklch(0.4 0.1 20);
  --secondary: oklch(0.4 0.1 200);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --shadow:
    0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-muted);
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--text);
}

button {
  background-color: var(--bg-light);
  border: 1px solid var(--bg);
  padding: 5px 20px;
  border-radius: 5px;
  border-top: var(--highlight);
  box-shadow: var(--shadow);
  color: var(--text);
  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s;
  max-height: 35px;
}

button:hover {
  transform: scale(1.05);
}

#root {
  display: flex;
  flex: 1 1 0;
  max-width: 2000px;
}

.input-section {
  flex: 1 1 0;
}

.output-section {
  flex: 2 1 0;
}

p {
  position: relative;
}

.icon {
  position: absolute;
}

.personal {
  left: -30px;
}
